.home-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 0rem; */
    position: relative;
}
.home-page-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.page-top-cat {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    margin: 2rem 0;
    gap: 25px;
}
.home-page-container .page-top-cat label {
    /* font-size: 18px; */
}
.tdhead-label {
    /* background-color: black; */
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 2em; 
    color: #495057;
    font-weight: 900;
    /* color: white; */
    /* border: 1px solid #d8d8d8; */
}
.page-top-tdhead {
    /* margin: 2rem 0; */
}

/* topItem css */
.product-grids {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Default to five columns */
    gap: 1px;
    margin-top: 0.5rem;
}

.product {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    background: rgb(249, 249, 249);
    /* text-align: center; */
    width: 100%; /* Fixed width */
    max-width: 200px;
    margin: 0.5rem auto; /* Center product in the grid cell */
    position: relative;
}

.product .product-wishlist-add{
    position: absolute;
    border-radius: 99px;
    display: flex;
    right: 5px;
    top: 5px;
    padding: 0.5em;
}
.product .product-wishlist-add .pd-wishlist-addicon:hover{
    fill: red;
    stroke: red;
    cursor: pointer;
}

.product-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Fixed height */
    max-height: 200px;
    object-fit:cover; /* Keep aspect ratio, cover the box */
    border-radius: 4px;
}

.product-info {
    width: 100%; /* Match width with the .product */
}

.product-title {
    font-size: 1em;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.product-price {
    color: #666;
    margin: 0;
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .product-grids {
        grid-template-columns: repeat(5, 1fr); /* Four columns for large tablets */
    }
}

@media (max-width: 992px) {
  .tdhead-label {
    font-size: 1em; 
  }
    .product-grids {
        grid-template-columns: repeat(4, 1fr); /* Three columns for tablets */
    }
}

@media (max-width: 768px) {
  .tdhead-label {
    font-size: 1em; 
  }
    .home-page-container {
        width: 95%; /* Increase width for smaller screens */
    }
    .product-grids {
        grid-template-columns: repeat(2, 1fr); /* Two columns for mobile devices */
    }
}

@media (max-width: 576px) {
  .product {
    max-width: 180px;
    font-size: 0.9em;
  }
  .tdhead-label {
    font-size: 1.2em; 
  }
    .home-page-container {
        width: 98%; /* Further increase width for very small screens */
    }
    .product-grids {
        grid-template-columns: repeat(2, 1fr); /* One column for small mobile devices */
    }
}
