/* zoomview.css */
.zoom-view-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  background: black;
  padding: 1px 10px;
  border-radius: 2px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
/* zoomview.css */

.zoom-view-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.zoom-view-container {
  position: relative;
  max-width: 80%;
}

.zoomed-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* shadow effect */
}


.nav-button {
  position: absolute;
  bottom: -40%;
  right: -50%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  /* border-radius: 50%; */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button.prev {
  /* left: 20px; */
}

.nav-button.next {
  right: -370px;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* lighter background on hover */
}

.nav-button:disabled {
  opacity: 0.5; /* reduce opacity for disabled buttons */
  cursor: not-allowed;
}
