.footer-wrapper{
    display: flex;
    justify-content: center;
    margin: 0rem 0;
    border-top: 3px solid #490B3D;
}
.footer-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.footer-container .footer-top{
    margin-bottom: 1rem;
    display: flex;
}
.footer-top .footer-top-logo {
    margin: 1rem 0;
}
.footer-top-logo a {
    font-size: 24px;
}
.footer-top .footer-top-newsletter {
    border-right: 1px solid darkgray;
    padding-right: 1rem;
    width: max-content;
}
.footer-top-newsletter input {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #490B3D;
    padding-left: 10px;
    width: 240px;
    outline: none;
}
.footer-top-newsletter button {
    background: none;
    border: none;
    color: #490B3D;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;

}
.footer-top-right {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.footer-top-right .right-lists {
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
    flex: 0.9;
    border-right: 1px solid darkgray;
}
.footer-top-right ul label,
.right-mailus label {
    text-transform: uppercase;
    color: darkgray;
}
.footer-top-right ul {
    /* margin-left: 2rem; */
}
.footer-top-right ul li {
    font-size: 12px;
}
.right-mailus {
    /* border: 1px solid black; */
    /* margin-left: 1rem; */
}
.right-mailus p {
    font-size: 12px;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom .footer-bottom-rights {
    /* margin-left: 1rem; */
    color: darkgray;
    font-size: 14px;

}
.footer-bottom .footer-bottom-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom .footer-bottom-links .botton-link-legal {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}
.botton-link-legal .lucide {
    margin-right: 4px;
}
.footer-bottom .footer-bottom-social {
    display: flex;
}
.footer-bottom .footer-bottom-social li {
    margin:  0 1rem;
    cursor: pointer;
}

.footer-bottom-social .lucide-twitter:hover {
    fill: #0dcbff;
    color: #0dcbff;

}
.footer-bottom-social .lucide-instagram:hover {
    fill: #e95948;
    color: rgb(234, 234, 234);
}
.bottom-link-social .lucide-facebook:hover {
    fill: #36589e;
    color: #36589e;

}
.bottom-link-social .lucide-github:hover{
    fill:#24292e;
    color: #24292e;
    /* size: 28px !important; */

}